<div id="flash" class="{{color endDate}}">
	<a href="#" class="close">×</a>
	<div>
		<img alt="logo" src="images/glyphicons_warning_sign.png" width="10" height="10">
		{{event}} are available until {{endDate}}.
	</div>
</div>